#demo-1{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: auto 60vw auto;
    grid-template-areas: ". demo-1 .";

    section{
        grid-area: demo-1;
        background-color: var(--charcoal);
        height: 40vh;
        // overflow: hidden;

        h1{
            color: var(--white);
            position: relative;
            z-index: 10;
        }

        div{
            margin-top: 32px;
        }

        #aqua-box{
            height: 100px;
            width: 100px;
            background-color: var(--aqua);
        }

        #yellow-rect{
            height: 100px;
            width: 200px;
            background-color: var(--yellow);
        }

        #red-circle{
            height: 100px;
            width: 100px;
            background-color: var(--red);
            border-radius: 100%;
        }
    }
}