/* =============
    Hero 2
============= */
#hero-2{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero-2 .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    img{
        grid-area: hero-2;
        width: 100%;
    }
}