/* =============
    Motion path
============= */
#motion-path{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". launch .";

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: launch;
        svg{
           
        }
    }
}