#svg{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". svg .";

    div{
        grid-area: svg;


        // svg{


            #box{
                // fill: yellow;
            }
        // }
    }
}